{% extends 'layout_page.html' %}

{% block header %}
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('img/post-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-heading text-center">
                    <h1>About Flask Blog</h1>
                    <h2 class="subheading">{{ '' }}</h2>
                </div>
            </div>
        </div>
    </header>
{% endblock header %}

{% block content %}
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, cupiditate. Explicabo hic ratione itaque doloribus dolorum at nam rem ab rerum, aliquam mollitia, voluptate maiores deserunt dolore nulla architecto vitae.</p>
{% endblock content %}