{% extends 'layout_page.html' %}

{% block header %}
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('img/post-bg.jpg')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="post-heading">
                        <h1>{{ post.title }}</h1>
                        <h2 class="subheading">{{ '' }}</h2>
                        <span class="meta">Posted by
                            <a href="#">{{ post.author }}</a>
                            on {{ post.create_date }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock header %}

{% block content %}
    {{ post.body }}
{% endblock content %}